.perfil-hero{
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 30px;

}

.perfil-img img {
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.galeria img {
    width: 300px;
    margin: 0 15px;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.galeria img:hover {
    transform: scale(1.05);
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
}